torch
transformers
datasets
evaluate
peft
adapters
galore-torch
bitsandbytes
lion-pytorch
pandas
numpy
tqdm
huggingface_hub
filelock
scikit-learn
scipy
accelerate
safetensors
pyarrow
tokenizers
requests
PyYAML
Jinja2
regex
packaging
psutil
